body {
  background: #eee;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main h1 {
  color: #444;
  text-align:center;
}

h2{
  text-align: justify;
}

#main{
  padding:0px;
  box-sizing:border-box;
  width:60%;
  height:100%;
}

#book-list, #genre-list{
  padding:0
}

#book-list li{
  display:inline-block;
  margin:12px;
  padding:10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880E4F;
}

#genre-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid rgb(20, 224, 13);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: black;
}

form{
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label{
  text-align:right;
  padding: 6px;
}

form select, form input{
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button{
  color: #fff;
  font-size: 2em;
  background: #AD1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#book-details{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 50%;
  background: #fff;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #000;
}

#synopsis{
  color: #000;
  font-size: 18px;
}
 b{
   color: #880E4F;
   font-size: 25px;
 }

#genre-details{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 50%;
  background: #0ff0ff;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

table{
  background: gray;
  padding: 10px;
  overflow: auto;
}

thead{
  background-color: #880E4F;
  color: #000;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tbody{
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}


td{
  flex: 1;
}








